* {
    color: #fff;
}
.navbar{
    background-color: transparent !important;
}

.navbar .navbar-item .nav-link{
     color: #fff;
}

body{
    position: relative;
    background-image: url(../img/gkm.jpg);
    background-size: cover;
    min-height: 600px;
    height: 100vh;
}

.background-overlay{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.form-control, .btn {
    border-radius: 0;
}

.conta-form input {
    border-radius: 5px;
}

.posi {
    display: flex;
    justify-content: space-between;
}